<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- 开启自动扫描 -->
	<context:component-scan base-package="com.mininglamp.currencySys" />
	
	<!-- 数据格式转换 -->
	<bean id="translateBean" class="com.mininglamp.currencySys.common.aop.ObjectTranslateAspect"  scope="singleton" />
	<bean id="db2BeanProp" class="com.mininglamp.currencySys.common.aop.Db2BeanAspect"  scope="singleton">
		<property name="includeMethods">
			<list>
				<value>getDevelopList</value>
				<value>getCheckState</value>
				<value>loadData</value>
				<value>getMessageCount</value>
			</list>
		</property>
	</bean>
	<bean id="actionLog" class="com.mininglamp.currencySys.common.aop.ActionLogAspect"  scope="singleton" />
    <!-- AOP配置 -->
    <aop:config>
	   	<aop:pointcut id="pointcutList" expression="execution(java.util.List com.mininglamp.currencySys.*.service.impl.*.*(..))"  />
	   	<aop:pointcut id="pointcutMap" expression="execution(java.util.Map com.mininglamp.currencySys.*.service.impl.*.*(..))"  />
	   	<aop:pointcut id="pointcutResponseBean" expression="execution(com.mininglamp.currencySys.common.base.bean.ResponseBean com.mininglamp.mws.*.controller.*.*(..))"  />
	   	
	   	<aop:aspect id="changeValue4SceneAspect" ref="translateBean" order="1">
	   		<aop:around pointcut-ref="pointcutList" method="changeValue" />
	   		<aop:around pointcut-ref="pointcutMap" method="changeMapValue" />
	   	</aop:aspect>
	   	<!-- Map中key有_分割命名转换为驼峰命名-->
	   	<aop:aspect ref="db2BeanProp" order="1">
	   		<aop:around pointcut-ref="pointcutList" method="convertListProp" />
	   		<aop:around pointcut-ref="pointcutMap" method="convertMapProp" />
	   	</aop:aspect>
	   	
	   	<aop:aspect ref="translateBean" order="1">
	   		<aop:around pointcut="execution(java.util.List com.mininglamp.currencySys.*.service.impl.*.*(..))" method="change4findValuePage" />
	   	</aop:aspect>
	   	<aop:aspect ref="actionLog" order="1">
	   		<aop:around pointcut-ref="pointcutResponseBean" method="log" />
	   	</aop:aspect>
	  </aop:config>
	  
	<!-- Loads JDBC configuraton -->  
    <import resource="spring-jdbc.xml"/>
    
</beans>